
/****** Object:  Table [dbo].[YTGerente]    ******/

CREATE TABLE [dbo].[YTGerente](
	[Id_gerente] [float] NULL,
	[Gerente] [nvarchar](255) NULL
)
GO
/****** Object:  Table [dbo].[YTProducto]  ******/

CREATE TABLE [dbo].[YTProducto](
	[ID_Producto] [float] NULL,
	[Producto] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[YTVentas]    ******/

CREATE TABLE [dbo].[YTVentas](
	[ID de Orden] [float] NULL,
	[Fecha] [datetime] NULL,
	[Id_producto] [float] NULL,
	[Precio] [float] NULL,
	[Cantidad] [float] NULL,
	[Tipo de Compra] [nvarchar](255) NULL,
	[Método de Pago] [nvarchar](255) NULL,
	[Id_gerente] [float] NULL,
	[Ciudad] [nvarchar](255) NULL
) 
GO


INSERT [dbo].[YTGerente] ([Id_gerente], [Gerente]) VALUES (1, N'Danny Blanco')
INSERT [dbo].[YTGerente] ([Id_gerente], [Gerente]) VALUES (2, N'Pablo Perez')
INSERT [dbo].[YTGerente] ([Id_gerente], [Gerente]) VALUES (3, N'Joao Silva')
GO

INSERT [dbo].[YTProducto] ([ID_Producto], [Producto]) VALUES (1, N'Papas Fritas')
INSERT [dbo].[YTProducto] ([ID_Producto], [Producto]) VALUES (2, N'Bebidas')
INSERT [dbo].[YTProducto] ([ID_Producto], [Producto]) VALUES (3, N'Acompañantes & Otros')
GO

INSERT [dbo].[YTVentas] ([ID de Orden], [Fecha], [Id_producto], [Precio], [Cantidad], [Tipo de Compra], [Método de Pago], [Id_gerente], [Ciudad]) VALUES (10452, CAST(N'2022-11-07T00:00:00.000' AS DateTime), 1, 3.49, 573, N'Online ', N' Gift Card', 1, N'Londres')
INSERT [dbo].[YTVentas] ([ID de Orden], [Fecha], [Id_producto], [Precio], [Cantidad], [Tipo de Compra], [Método de Pago], [Id_gerente], [Ciudad]) VALUES (10453, CAST(N'2022-11-07T00:00:00.000' AS DateTime), 2, 2.95, 746, N'Online ', N' Gift Card', 2, N'Madrid')
INSERT [dbo].[YTVentas] ([ID de Orden], [Fecha], [Id_producto], [Precio], [Cantidad], [Tipo de Compra], [Método de Pago], [Id_gerente], [Ciudad]) VALUES (10454, CAST(N'2022-11-07T00:00:00.000' AS DateTime), 3, 4.99, 200, N'Tienda', N' Gift Card', 3, N'Lisboa')
GO